/* Additional styles */

body {
  padding-top: 64px;
  font-family: "Inter";
}

h1, h2, h3, h4, h5, h6  {
  font-weight: 700;
}

.header-font {
  font-family: "Inter";
}

.py-6 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-section {
    background-color: #89d4eb;
}

/* Backgrounds for each section of the page */

.search-smile {
  background: url("/assets/images/smile.jpg") no-repeat center center;
  background-size: cover;
}

.download-apps {
  background: url("/assets/images/download-hero.jpg") no-repeat center center;
  background-size: cover;
}

/* Miscellaneous */

.spotlight-image {
  width: 200px;
}

.user-image {
  width: 50px;
}

.store-badge {
  width: 200px;
}
